.activities-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-right: 75px;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 50px;
}

.exercise-container {
    background-color: azure;
}

@media screen and (max-width:778px) {
    .cart-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    .cart-container {
        grid-template-columns: repeat(1, 1fr);
    }
}